* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

.main-container { 
  display: flex;
}

.leftBody-picture-logo {
  width: 35vw;
}

.left-image-background {
 width: inherit;
 position: relative;
 height: 100vh;
}

.left-logo {
  width: inherit;
  height: 20vh;
  background-color: rgba(0, 0, 0, .25);
  position: absolute;
  color: black;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.odin-logo-img {
  position: relative;
  max-height: 16vh;
}

.logo-caption {
  position: relative;
  font: 6rem "norsebold", "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: white;
  vertical-align: middle;
}

.img-background-credit {
  position: absolute;
  bottom: 0;
  width: inherit;
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.credits-lnk:visited {
  color: rgb(255, 183, 100);
}

@font-face {
  font-family: "norsebold";
  src: url("../fonts/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-size: normal;
}

.rightBody-form-action {
  display: flex;
  flex-flow: column;
  width: 65vw;
}

.header-quote {
  padding: 5rem 10rem 5rem 5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  height: 35vh;
  line-height: 1.4;
  font-weight: 500;
}

.body-form {
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, .1) 0px 5px 15px;
  height: 40vh;
  position: relative;
  padding-left: 5rem;
  padding-top: 1.5rem;
}

h1 {
  margin: 0;
  padding: 0 0 .75rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, label {
  color:rgb(30, 30, 65);
}

.bForm {
  display: grid;
  grid-template-columns: repeat(2, 14rem);
  grid-template-rows: repeat(3, 2rem);
  row-gap: 2.5rem;
  column-gap: 10rem;
}

.bForm > p > label, input {
  appearance: none;
  -webkit-appearance: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bForm > p > input {
  width: 16rem;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  font-size: 1.25rem;
}

.bForm > p > input:focus {
  outline: none;
  border: 2px solid rgb(140, 140, 255);
  box-shadow: rgba(0, 0, 0, .15) 2px 2px 4px;
}

.footer-action {
  padding: 2rem 0 0 5rem;
  height: 25vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.create-acc-btn {
  padding: .75rem 3.25rem;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: white;
  background-color: rgb(175, 114, 0);
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, .15) 2px 2px 4px;
}

.footer-caption {
  font-size: 1rem;
  padding-top: 1rem;
}

.footer-link {
  text-decoration: none;
  color: rgb(175, 114, 0);
  font-weight: 600;
}